APP_NAME=ARKANDA
APP_ENV=development
DEBUG=True

# Database
DATABASE_URL=postgresql://kullanici_adin:sifren@localhost:5432/arkanda_db

# Security
SECRET_KEY=buraya_uzun_ve_rastgele_bir_metin_yaz
ACCESS_TOKEN_EXPIRE_MINUTES=1440